.jumbotron {
    background: url("../../resources/site_background.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumbotron .brand {
    font-size: 48px;
}

.jumbotron .dates {
    font-size: 30px;
    text-align: right;
}